/.*
/data/*
/static/main.css
/static/main.css.map
/static/materialize-src/css/materialize.css
/static/materialize-src/css/materialize.css.map
/data/definitions
/notebooks
/notebooks/.*
notes.md
playground*
test.txt
/dir_*
/dataset*
*.DS_Store
*/__pychache__
__pychache__/*
/models/classifier/*
!models/classifier/readme.md
/models/embeddings/*
!models/embeddings/readme.md