<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Recommendation of Data Mining Methods</h5>
                <p class="grey-text text-lighten-4">Based on a given input text the prototyp tries to predict
                a possible data mining method for the user. In addition, the prototypes visualize a example data structure
                as well as an analysis of the given problem description.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="../static/thesis/thesis.pdf">Master Thesis</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="../static/documentation/index.html">Documentation</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/rsmttud/Recommender-System">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 TU Dresden
        </div>
    </div>
</footer>