<h5>Please enter your problem description</h5>
<div class="divider"></div>
<br/>
<div class="row">
    <div class="container">
        <div class="input-field col s12">
            <input id="title" type="text" class="validate">
            <label for="title">Title</label>
        </div>
        <div class="input-field col s12">
          <textarea id="short_description" class="materialize-textarea"></textarea>
          <label for="short_description">Short description</label>
        </div>
        <div class="input-field col s12">
          <textarea id="long_description" class="materialize-textarea"></textarea>
          <label for="long_description">Long description</label>
        </div>
    </div>
</div>