<div class="container" id="main">
    <div class="row" id="main-row">
        <div id="swipe-input" class="col s12">
            <div class="row">
                <div class="col s6">
                    {% include "input_main_input.html" %}
                </div>
                <div class="col s6">
                    {% include "input_main_descriptive.html" %}
                </div>
            </div>
        </div>
        <div id="swipe-process" class="col s12">
            {% include "process_main.html" %}
        </div>
        <div id="swipe-results" class="col s12">
             <div class="row">
                <div class="col s6">
                    {% include "results_main_output.html" %}
                </div>
                <div class="col s6">
                     {% include "results_main_chart.html" %}
                </div>
            </div>
        </div>
        <div id="swipe-download" class="col s12">
            {% include "download_main.html" %}
        </div>
    </div>
</div>