<div id="navbar">
    <ul id="tabs-swipe-demo" class="tabs center-align tabs-fixed-width">
        <li class="tab col s3"><a id="nav-input"  href="#swipe-input" class = "active">Input</a></li>
        <li class="tab disabled col s3"><a id="nav-process" href="#swipe-process">Process</a></li>
        <li class="tab disabled col s3"><a id="nav-result" href="#swipe-results" class = "active">Result</a></li>
        <!--<li class="tab disabled col s3"><a id="nav-download" href="#modal-download">Download</a></li>-->
    </ul>
</div>