.wy-side-nav-search, .wy-nav-top {
    background: #00535a;
}

.property{

	color: #b4126b;
}

.rst-content dl:not(.docutils) dt {
	border-top: 3px solid #00535a;
	background-color: #D3E5E8;
	color: #00535a;
}

a{
	color: #00535a;
}

a:visited{
	color: #00535a;
}

.wy-nav-side a:visited{
	color: #FFFFFF;
}

.rst-content .viewcode-link, .rst-content .viewcode-back{
	color: #b4126b;
}

.wy-nav-content {
    max-width: none;
}